__pycache__
.assets
.caches
.jobs
.idea
.vscode

.source
.output
face_swapper.py
.DS_Store
output/.DS_Store
source/.DS_Store
target/.DS_Store
/output
/source
run_log.txt
source_paths.txt
target_paths.txt
